<main class="site-main vcenter">
  <div class="container padding">
    <form id="auth" action="/login" method="POST">
      <h1>Log In</h1>
      <input type="text" name="username" placeholder="Username" required>

      <input type="password" id="password" name="password" placeholder="Password" required>

      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <button class="iconBtn">Log in <i class="fas fa-arrow-right"></i></button>

      <p class="account-message">
        Don't have an account? <a href="/register">Sign up</a>
      </p>
    </form>
  </div>
</main>