<main class="site-main vcenter">
  <div class="container padding">
    <form id="auth" action="/login" method="POST">
      <h1>Log In</h1>
      <input type="text" name="username" placeholder="Username" required>

      <input type="password" id="password" name="password" placeholder="Password" required>

      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <button class="iconBtn">Log in <svg viewBox="0 0 40 40" class="arrow-icon">
          <path fill="black"
            d="M28.327 17h8.698l2.962 3-3.95 4H27.34l3.949-4-1.778-1.8 1.777 1.8-3.949 4H0v-7h28.327zm-.988 7h8.698L20.24 40l-4.35-4.404L27.34 24zm-7.1-24l16.785 17h-8.698L15.89 4.404 20.24 0z">
          </path>
        </svg></button>

      <p class="account-message">
        Don't have an account? <a href="/register">Sign up</a>
      </p>
    </form>
  </div>
</main>