/* ## Forms
--------------------------------------------- */

input,
input[type="search"],
select,
textarea {
  color: $color__text-main;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 20px 0 10px;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid $color__input-border;
  font-weight: inherit;
  width: 100%;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid $color__input-border-focus;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: $color__input-placeholder;
  opacity: 1;
}

::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  color: $color__input-placeholder;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.dark-button,
.light-button {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 24px;
  width: auto;
}

.dark-button svg {
  fill: #fff;
}

.light-button {
  background-color: transparent;
  color: #000;
}
.light-button svg {
  fill: #000;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.dark-button:hover,
.light-button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.dark-button:focus {
  background-color: #000;
  color: #fff;
}

.light-button:hover svg {
  fill: #fff;
}

.iconBtn {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.add-icon,
.arrow-icon {
  padding-top: 2px;
  margin-left: 18px;
  width: 18px;
  height: 18px;
}

#auth {
  max-width: 550px;
  margin: 0 auto;
}

#auth button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 24px 12px 0;
  width: auto;
  margin-bottom: 24px;
}

#auth a {
  border-bottom: 2px solid #000;
}

.error-message {
  border: 2px solid $color__error;
  padding: 20px;
  color: $color__error;
  font-size: 16px;
  margin: 20px 0;
}

input[type="search"]::placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #ccc;
}

.reviewer {
  position: relative;
  margin-bottom: 2rem;
  background-color: $color__background-alternate;
  padding: 30px;
  &__stars {
    display: flex;
    justify-content: center;
    input {
      display: none;
      &:checked {
        & ~ label {
          color: #deb217;
        }
      }
      & + label {
        color: #ccc;
        font-size: 0;
        &:before {
          content: "\2605";
          font-size: 2rem;
        }
        /* These are in the opposite DOM order
           re-order them to be visually in normal order
           This is fine for accessibility because our labels have for()
         */
        &[for="star5"] {
          order: 5;
        }
        &[for="star4"] {
          order: 4;
        }
        &[for="star3"] {
          order: 3;
        }
        &[for="star2"] {
          order: 2;
        }
        &[for="star1"] {
          order: 1;
        }
        &:hover,
        &:hover ~ label {
          color: lighten(#deb217, 20%);
        }
      }
    }
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    @include media(desktop) {
      flex-direction: row;
    }
    & label {
      font-weight: 700;
    }
  }
}
