/* Grid
--------------------------------------------- */
.grid-list {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}
.grid-list li.grid-item {
  flex: 0 1 33.33333%;
  display: flex;
}

.grid-content {
  margin: 15px;
  background: $color__background-alternate;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grid-content-link {
  cursor: pointer;
}
.grid-content-link:hover {
  background-color: $color__background-highlight;
}

.grid-image img {
  display: block;
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.grid-item .grid-details {
  padding: 15px;
  font-size: 16px;
}

/* List
--------------------------------------------- */

.list {
  list-style: none;
}

.list .list-item {
  background-color: $color__background-alternate;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.list-item .list-image {
  flex: 0 1 40%;
}
.list-item .list-details {
  flex: 0 1 60%;
}

.list-image img {
  display: block;
}
