#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#admin {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include media(desktop) {
    flex-direction: row;
  }
}

.site-main {
  flex: 1;
}

#admin .site-main {
  padding-top: 17px;
  padding-bottom: 17px;
}

.vcenter {
  display: flex;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 100%;
  max-width: 100%;
  @include media(desktop) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-8 {
  flex: 0 0 100%;
  max-width: 100%;
  @include media(desktop) {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}
.col-4 {
  flex: 0 0 100%;
  max-width: 100%;
  @include media(desktop) {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.col-7 {
  flex: 0 0 100%;
  max-width: 100%;
  @include media(desktop) {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
}

.col-5 {
  flex: 0 0 100%;
  max-width: 100%;
  @include media(desktop) {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.padding {
  padding-left: 17px;
  padding-right: 17px;

  @include media(tablet) {
    padding-left: 27px;
    padding-right: 27px;
  }
  @include media(wide) {
    padding-left: 69px;
    padding-right: 69px;
  }
}

.paddingTopBottom {
  padding-top: 17px;
  padding-bottom: 17px;

  @include media(tablet) {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  @include media(wide) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
