.site-header {
  padding-left: 17px;
  padding-right: 17px;

  @include media(tablet) {
    padding-left: 27px;
    padding-right: 27px;
  }
  @include media(wide) {
    padding-left: 69px;
    padding-right: 69px;
  }
}

.site-header.toggledOn {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: $color__background-nav-mobile;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.site-header nav {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  @include media(desktop) {
  }
}

nav ul {
  list-style: none;
  margin: 0;
}

.logo {
  width: 215px;
  fill: $color__menu;
  @include media(tablet) {
    width: 300px;
  }
  @include media(wide) {
    width: 320px;
  }
}
.toggledOn .logo {
  fill: $color__menu-toggled;
}

.hamburger-menu {
  order: 1;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  @include media(desktop) {
    display: none;
  }
}

.hamburger-menu span {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: $color__menu;
}

.toggledOn .hamburger-menu span:first-child {
  background-color: $color__menu-toggled;
  transition: 0.5s;
  transform: rotate(-45deg);
  top: 50%;
}

.toggledOn .hamburger-menu span:nth-child(2) {
  display: none;
}

.toggledOn .hamburger-menu span:last-child {
  background-color: $color__menu-toggled;
  transition: 0.5s;
  transform: rotate(45deg);
  bottom: 30%;
}

.main-navigation {
  order: 2;
}
.user-navigation {
  order: 3;
}

.menu {
  width: 100%;
  display: none;
  @include media(desktop) {
    display: flex;
    width: auto;
  }
}
.toggledOn .menu {
  margin-top: 50px;
  display: block;
}

.menu li a {
  font-size: 24px;
  font-weight: 700;
  color: $color__menu;
  @include media(desktop) {
    font-size: 20px;
    padding: 0 10px;
  }
  @include media(wide) {
    font-size: 24px;
  }
}
.menu li.menu-sep {
  font-size: 24px;
  font-weight: 700;
  color: $color__menu;
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.menu li a:hover {
  opacity: 0.75;
}

.toggledOn .menu li a {
  color: $color__menu-toggled;
  line-height: 2;
}

.toggledOn .user__item .avatar {
  display: none;
}

.submenu {
  @include media(desktop) {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 5;
    right: 20px;
    padding-top: 15px;

    &:before {
      border-style: solid;
      content: "";
      position: absolute;
    }
    &:before {
      border-color: $color__background-submenu transparent;
      border-width: 0 10px 10px;
      left: 52%;
      top: 6px;
    }
  }
}

.submenu li a {
  @include media(desktop) {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    font-size: 16px;
    color: $color__menu-toggled;
    background-color: $color__background-submenu;
  }
}

.user__item:hover .submenu {
  display: block;
}
