<main class="site-main">
  <div class="content container padding paddingTopBottom">
    <div class="row">
      <p><strong>Use of this site</strong><br>
        This website contains information about all museums of Amsterdam. You can search for a specific museum on the
        page
        Museums or view them on Google Maps on the page Map.</p>
      <p><strong>Review a museum</strong><br>
        Once you registered for the site, you can leave a review of the museum you visited, helping others to decide
        which museum to visit next.</p>

      <p><strong>Create a personal list</strong><br>
        With your account you can make a list of your favourite museums or make a list of museums you still want to
        visit.
      </p>
      <p><strong>Disclaimer</strong><br>
        This website is non-commercial and is build for educational reasons. The information you find on this site can
        be
        outdated. For more up to date information, please visit <a href="https://www.iamsterdam.com"
          target="_blank"><u>iamsterdam.com</u></a></p>
    </div>
  </div>
</main>