<main class="site-main">
  <div class="container padding">
    <h1 class="section-title">{{title}}</h1>
  </div>

  <div class="container padding">
    <div class="crud-container">a
      <table></table>
    </div>
  </div>

</main>