<main class="site-main">
  <div class="container">
    <div class="row reverse">
      <div class="col-5">
        <div class="artwork">
          <img src="/images/melkmeisje-vermeer.jpg">
        </div>
      </div>
      <div class="col-7 intro padding">
        <h1>A real treat for art-lovers, Amsterdam is home to over 50 museums, many of them famous across the globe.
        </h1>
        <a href="/museums" class="dark-button">See all museums <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</main>