<main class="site-main paddingTopBottom">
  <div class="container padding">
    <div class="profile padding paddingTopBottom">

      {{#if user.profileImg}}
      <div class="profile-image">
        <img src="/images/profile/{{user.profileImg}}" alt="">
      </div>

      {{/if}}

      <form id="auth" action="/profile/update" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile" />
        <input type="text" name="firstname" value="{{user.firstname}}" placeholder=" First name (optional)">

        <button class="iconBtn">Update profile <svg viewBox="0 0 40 40" class="arrow-icon">
            <path fill="black"
              d="M28.327 17h8.698l2.962 3-3.95 4H27.34l3.949-4-1.778-1.8 1.777 1.8-3.949 4H0v-7h28.327zm-.988 7h8.698L20.24 40l-4.35-4.404L27.34 24zm-7.1-24l16.785 17h-8.698L15.89 4.404 20.24 0z">
            </path>
          </svg></button>
      </form>
    </div>
  </div>
</main>