<main class="site-main paddingTopBottom">
  <div class="container padding">
    <div class="profile padding paddingTopBottom">

      {{#if user.profileImg}}
      <div class="profile-image">
        <img src="/images/profile/{{user.profileImg}}" alt="">
      </div>

      {{/if}}

      <form action="/profile/update" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile" />
        <input type="text" name="firstname" value="{{user.firstname}}" placeholder=" First name (optional)">

        <button class="dark-button iconBtn">Update profile <i class="fas fa-arrow-right"></i></button>
      </form>
    </div>
  </div>
</main>